@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Underline Title Circles */
.circle-underline {
  stroke-dasharray: 16;
  stroke-dashoffset: 283;
}

/* HTML Circles */
.html-circle-one {
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
}

.html-circle-two {
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
}

/* CSS Circles */
.css-circle-one {
  stroke-dasharray: 70;
  stroke-dashoffset: 260;
}

.css-circle-two {
  stroke-dasharray: 283;
  stroke-dashoffset: 240;
}

/* JavaScript */
.javascript-circle-one {
  stroke-dasharray: 283;
  stroke-dashoffset: 10;
}

/* React, Node, Git */
.react-circle-one,
.git-circle-one {
  stroke-dasharray: 4;
  stroke-dashoffset: 283;
}

.node-circle-one {
  stroke-dasharray: 36;
  stroke-dashoffset: 283;
}

.node-circle-two {
  stroke-dasharray: 12;
  stroke-dashoffset: 283;
}

.git-circle-two {
  stroke-dasharray: 283;
  stroke-dashoffset: 256;
}

/* PHP, Laravel */
.php-circle-one {
  stroke-dasharray: 283;
  stroke-dashoffset: -240;
}

.php-circle-two {
  stroke-dasharray: 283;
  stroke-dashoffset: 43;
}

.laravel-circle-one {
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
}

.laravel-circle-two {
  stroke-dasharray: 283;
  stroke-dashoffset: 0;
}
/* TESTING */
